@font-face {
    font-family: 'PoppinsMedium';
    src: url('../fonts/Poppins-Medium.otf');
}
@font-face {
    font-family: 'PoppinsRegular';
    src: url('../fonts/Poppins-Regular.otf');
}

:root {
    --color-background: #FFFDF7;
    --color-black: #212121;
    --color-black-heavy: #000000;
    --color-text: #4f4f4f;
    --color-text-out: #90908e;
    --color-primary: #ffbf00;
    --color-secondary: #fff2cc;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
    --color-separete: #cccccc;
}

html, body {
    font-family: 'PoppinsRegular', sans-serif, 'Rubik';
    background-color: var(--color-background);
}

b {
    font-family: 'PoppinsMedium', sans-serif, 'Rubik';

}

.hidden {
    display: none !important;
}

.color-primary {
    color: var(--color-primary);
}

.btn-white {
    background-color: var(--color-white) !important;
    color: var(--color-black) !important;
    border-radius: 20px !important;
    padding: 15px 25px;
    font-size: 1.25rem;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.btn-icon {
    padding-right: 75px;
}

.btn-icon .icon {
    display: inline-block;
    color: var(--color-black);
    background-color: var(--color-primary);
    width: 45px;
    height: 45px;
    position: absolute;
    right: 10px;
    margin-top: -8px;
    border-radius: 15px;
    text-align: center;
    padding-top: 6px;
}

.btn-white:hover, 
.btn-white.active {
    background-color: var(--color-primary) !important;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

/* <===============> HEADER <===============> */

a.navbar-brand {
    margin-left: -25px;
}

.nav-link {
    color: var(--color-black);
    padding: 0 35px !important;
}

.nav-link:hover {
    color: var(--color-primary);
}

.banner {
    padding-top: 110px;
    padding-bottom: 200px;
}

.text-banner {
        margin-bottom: 60px;
}

.text-banner h1 {
    color: var(--color-black);
    font-size: 3.75rem;
    line-height: 1.2;
}

.text-banner p {
    font-size: 1.25rem;
    margin: 15px 0;
}

.btn-yellow {
    background-color: var(--color-primary) !important;
    color: var(--color-white) !important;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 1.25rem;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.btn-yellow:hover {
    background-color: var(--color-red) !important;
    color: var(--color-white) !important;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.btn-icon-left {
    padding-left: 70px;
}

.btn-icon-left .icon-left {
    display: inline-block;
    color: var(--color-white);
    background-color: var(--color-primary);
    width: 45px;
    height: 45px;
    position: absolute;
    margin-left: -60px;
    margin-top: -8px;
    border-radius: 15px;
    text-align: center;
    padding-top: 6px;
}

.btn-icon-left:hover .icon-left,
.btn-icon-left:active .icon-left  {
    background-color: var(--color-white);
    color: var(--color-black);
}

.btn-sm {
    padding: 9px 15px !important;
    border-radius: 15px !important;
    font-size: 1.125rem !important;
}

.btn-social {
    width: 50px;
}

.card-banner {
    height: 450px;
    width: 450px;
    border-radius: 170px;
    background-color: #f4c949;
    position: absolute;
    right: 0;
    top: -80px;
}

.img-banner img {
    position: absolute;
    width: 570px;
    right: 15px;
    top: 30px;
}

.card {
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 1.25rem;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1) !important;
    border: none !important;
}

.card-case {
    width: 350px;
    font-size: 0.875rem;
    position: absolute;
    right: 0;
    bottom: -75px;
}

.card-case-name {
    position: absolute;
    font-size: 0.75rem;
    color: var(--color-primary);
    right: 20px;
    bottom: 10px;
}

/* <===============> END HEADER <===============> */

/* <===============> SERVICES <===============> */
.services {
    padding-top: 100px;
    padding-bottom: 150px;
}

.hint-title {
    color: var(--color-primary);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.title {
    color: var(--color-black);
    font-size: 2.5rem;
    margin-top: 5px;
    margin-bottom: 30px;
}

.card-icon {    
    height: 150px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text {
    color: var(--color-text-out);
    font-size: 0.938rem;
    padding: 0 30px;
}

.card-text p {
    font-size: 1.375rem;
    color: var(--color-black);
    margin-bottom: 10px;
}
.bg-services {
    position: absolute;
    left: 0;
    right: 0;
    height: 500px;
    background-image: url('../img/bg-icons-2.png');
}
/* <===============> END SERVICES <===============> */

/* <===============> CARDAPIO <===============> */
.cardapio {
    /* padding-top: 50px; */
    padding-bottom: 150px;
}

.bg-cardapio {
    position: absolute;
    left: 0;
    right: 0;
    height: 500px;
    background-image: url('../img/bg-icons-1.png');
}

.container-menu {
    margin-bottom: 40px
}

.card-item {
    height: 360px;
}

.img-product img {
    width: 100%;
    border-radius: 11px;
    object-fit: cover;
}

.title-product {
    color: var(--color-black);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 40px;
    margin-bottom: 0;
}

.price-product {
    color: var(--color-primary);
    font-size: 1.5rem;
}

.add-cart {
    display: none;
    text-align: center;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.btn-decrement {
    color: var(--color-black-heavy);
    padding: 5px 7px;
    border: 2px solid var(--color-black-heavy);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 0.875rem;
    cursor: pointer;
}

.btn-increment {
    color: var(--color-black-heavy);
    padding: 5px 7px;
    border: 2px solid var(--color-black-heavy);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 0.875rem;
    cursor: pointer;
}

.add-number-items {
    color: var(--color-black-heavy);
    padding: 2px 15px;
    border-top: 2px solid var(--color-black-heavy);
    border-bottom: 2px solid var(--color-black-heavy);
    font-size: 1.125rem;
    cursor: pointer;
}

.btn-add {
    border: 2px solid var(--color-black-heavy);
    font-size: 1rem;
    padding: 4px 10px;
    border-radius: 10px;
    color: var(--color-white);
    background-color: var(--color-black-heavy);
    margin-left: 15px;
}

.card-item:hover {
    background-color: var(--color-primary);
}

.card-item:hover .title-product {
    display: none;
}

.card-item:hover .add-cart {
    display: flex;
}

.card-item:hover .price-product {
    color: var(--color-black-heavy) !important;
    margin-top: 20px;
}
/* <===============> END CARDAPIO <===============> */

/* <===============> TESTIMONY <===============> */
.bg-testimonials {
    position: absolute;
    left: 0;
    right: 0;
    height: 500px;
    background-image: url('../img/bg-icons-1.png');
}

.testimonials {
    /* padding-top: 100px; */
    padding-bottom: 150px;
}

.card-testimony {
    width: 390px;
    height: 390px;
    border-radius: 120px;
    background-color: var(--color-secondary);
    position: absolute;
    left: 0;
}

.testimony-container-data {
    display: flex;
}

.testimony {
    margin-top: 70px;
}

.img-testimony {
    width: 65px;
    height: 65px;
    background-color: var(--color-white);
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 15px;
}

#testimony-1 .img-testimony {
    background-image: url('../img/diego.jpg');
    background-size: cover;
}

#testimony-2 .img-testimony {
    background-image: url('../img/ana.jpg');
    background-size: cover;
}

#testimony-3 .img-testimony {
    background-image: url('../img/joao.jpg');
    background-size: cover;
}

.name-testimony {
    color: var(--color-black);
    font-size: 1.375rem;
    margin-bottom: 5px;
}

.note-testimony {
    color: var(--color-primary);
}

.note-testimony span {
    color: var(--color-black);
}

.text-testimony {
    display: flex;
    font-size: 1rem;
    color: var(--color-black);
}

.text-testimony i {
    font-size: 2.188rem;
    color: var(--color-primary);
}

.text-testimony i:first-child {
    padding-left: 10px;
    padding-right: 35px;
}

.text-testimony i:last-child {
    padding-left: 45px;
    display: flex;
    justify-content: center;
    align-items: end;
}

/* <===============> END TESTIMONY <===============> */

/* <===============> RESERVATIONS <===============> */
.reservations {
    /* padding-top: 100px; */
    padding-bottom: 150px;
}.card-secondary {
    background-color: var(--color-secondary);
    border-radius: 70px;
    padding: 90px;
    font-size: 1.25rem;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1) !important;
}

.card-reservation {
    width: 320px;
    height: 320px;
    border-radius: 120px;
    background-color: var(--color-white);
    position: absolute;
    right: 0;
    top: -25px;
}

.reservations .img-banner img {
    width: 100%;
}
/* <===============> END RESERVATIONS <===============> */

/* <===============> FOOTER <===============> */
footer {
    background-color: var(--color-secondary);
}

.logo-footer {
    width: 150px;
}

.container-logo-footer,
.container-text-footer,
.container-socia-midias-footer {
    display: flex;
    align-items: center;
}

.container-logo-footer {
    justify-content: start;
}

.container-text-footer {
    justify-content: center;
}

.container-socia-midias-footer {
    justify-content: end;
}
/* <===============> END FOOTER <===============> */

/* <===============> CART <===============> */
.modal-full {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
    background: var(--color-white);
    z-index: 9999;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.modal-header {
    padding-bottom: 20px;
}

.modal-body {
    flex: 1;
    overflow: auto;
    overflow-x: hidden;
}

.modal-body::-webkit-scrollbar {
    width: 6px;
    background: transparent;
}

.modal-body::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 10px;
}

.modal-body::-webkit-scrollbar-track {
    background: transparent;
}

.phases {
    display: flex;
}

.phase {
    width: 35px;
    height: 35px;
    background-color: var(--color-white);
    border-radius: 50px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.phase::before {
    content: '';
    width: 20px;
    height: 100%;
    background-color: var(--color-separete);
    position: absolute;
    height: 2px;
    margin-left: 55px;
}

.phase:last-child::before {
    content: none;
}

.phase.active,
.phase.active::before  {
    background-color: var(--color-primary);
}

.title-cart {
    color: var(--color-black);
    font-size: 1.25rem;
}

.modal-full .items-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-separete);
}

.modal-full .items-cart:last-child {
    border-bottom: none;
}

.modal-full .img-product img {
    width: 100px;
    border-radius: 11px;
}

.modal-full .title-product {
    color: var(--color-black);
    font-size: 1.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
}

.modal-full .price-product {
    color: var(--color-primary);
    font-size: 1.5rem;
    margin-bottom: 0;
}

.modal-full .data-product{
    flex: 1;
    padding-left: 25px;
    padding-right: 25px;
}

.modal-full .add-cart {
    display: flex;
    text-align: center;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.btn-remove {
    border: 2px solid var(--color-red);
    font-size: 1rem;
    padding: 4px 10px;
    border-radius: 10px;
    color: var(--color-white);
    background-color: var(--color-red);
    margin-left: 15px;
}

.container-total {
    padding-top: 20px;
    border-top: 1px solid var(--color-separete);
}

.container-total .text-delivery {
    color: var(--color-separete);
}

.container-total .text-total {
    color: var(--color-black);
    font-size: 1.25rem;
    margin-top: 10px;
}
.container-total .value-total {
    color: var(--color-primary);
    font-size: 1.5rem;
}
/* <===============> END CART <===============> */

/* <===============> ADDRESS DELIVERY <===============> */
.form-control {
    background-color: var(--color-white);
    color: var(--color-black) !important;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 1.25rem;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
    border: none !important;
}

select.form-control {
    height: 60px !important;
}


.container-zipcode .form-control {
    padding-right: 75px;
}

.container-zipcode .btn {
    position: absolute;
    right: 25px;
    top: 38px;
}
/* <===============> END ADDRESS DELIVERY <===============> */

/* <===============> SUMMARY <===============> */
.img-product-summary img {
    width: 50px;
    border-radius: 11px;
}

.items-cart.summary {
    padding-top: 10px;
    padding-bottom: 10px;
}

.title-product-summary {
    color: var(--color-black);
    font-size: 1.125rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
}

.price-product-summary {
    color: var(--color-primary);
    font-size: 1rem;
    margin-bottom: 0;
}

.qtd-product-summary {
    color: var(--color-black);
    font-size: 1.125rem;
    margin-bottom: 0;
}

.img-map {
    width: 50px;
    height: 50px;
    background-color: var(--color-secondary);
    color: var(--color-black);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
}

.text-address {
    margin-bottom: 0;
    color: var(--color-black);
}

.city-address {
    margin-bottom: 0;
}
